.social-links-list {
  display: flex;
  justify-content: center;
}

.social-links-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: var(--primary-background-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item:hover,
.social-link-item:focus {
  background-color: var(--accent-color);
}
.social-link-item:hover .social-link-icon {
  fill: var(--white-text-color);
}
.social-link-item:focus .social-link-icon {
  fill: var(--white-text-color);
}

.social-link-icon {
  width: 20px;
  height: 20px;

  fill: var(--icon-static-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-icon:hover,
.social-link-icon:focus {
  fill: var(--white-text-color);
}

/*=============FOOTER===============*/

.social-link-list-item-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;

  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-list-item-footer:hover {
  background-color: var(--accent-color);
}
.social-link-list-item-footer:focus-within {
  background-color: var(--accent-color);
}
.social-link-list-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-link-item-footer:focus {
  outline: black;
}

.social-link-item-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.social-link-item-footer:focus {
  outline: 1px solid black;
}

.social-link-icon-footer {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}
